

<div class="col-md-6">

<h1>Welcome!</h1>

</div>



  <!-- name and bio -->
  <div class="col-md-6">
    <h2><%= @user.name %></h2>
    <h3><%= @user.bio %></h3>
  </div>


<div class="container center_div">
  <!-- social buttons -->

  <div class="col-md-6">
    <a class="btn btn-default" href="<%= @user.website %>" role="button">Website</a>

    <a class="btn btn-default" href="<%= @user.facebook %>" role="button">Facebook</a>

    <a class="btn btn-default" href="<%= @user.twitter %>" role="button">Twitter</a>


    <a class="btn btn-default" href="<%= @user.linkedin %>" role="button">LinkedIn</a>
  </div>
</div>








