<div class="container">

    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="<%= @user.profile_background %>" alt="Profile image example"/>
        <img align="left" class="fb-image-profile thumbnail" src="<%= @user.profile_picture %>" alt="Profile image example"/>
        <div class="fb-profile-text">
            <h1><%= @user.name %></h1>
            <p><%= @user.bio %></p>
        </div>
    </div>

    <div class="col-md-9">

      <h4>Courses currently teaching:</h4>
      <ul>
        <% @user.courses_taught.each do |taught| %>
          <li><%= taught.topic %><link rel="stylesheet" href="/css/master.css" media="screen" title="no title" charset="utf-8"></li>
          <%= link_to(taught.topic, course_path(course.id)) %>
        <% end %>
      </ul>
      <%= link_to 'Create a course', '/courses/new', class: "btn btn-default"%>
      <br></br>

      <h4>Courses currently learning:</h4>
      <ul>
        <% @user.courses_taken.each do |taken| %>
        <li><%= taken.topic %></li>
        <% end %>
      </ul>
      <%= link_to 'Learn a course', '/courses', class: "btn btn-default"%>
      <br></br>

    </div>

      <div class="col-md-6">
        <%= link_to 'Website', @user.website, class: "btn btn-default"%>
        <%= link_to 'Facebook', @user.facebook, class: "btn btn-default"%>
        <%= link_to 'Twitter', @user.twitter, class: "btn btn-default"%>
        <%= link_to 'LinkedIn', @user.linkedin, class: "btn btn-default"%>
      </div>
      <br></br>

</div> <!-- /container -->
