<div class="row">
  <div class="col-md-6">
    <h1>Welcome!</h1>
  </div>
  <!-- name and bio -->
  <div class="col-md-6">
    <h2><%= @user.name %></h2>
    <h3><%= @user.bio %></h3>
    <h3><%= @user.courses %></h3>
    <h3><%= @user.classes %></h3>
  </div>
</div>


<div class="row">
  <!-- social buttons -->

  <div class="col-md-6">
    <%= link_to 'Website', @user.website, class: "btn btn-default"%>
    <%= link_to 'Facebook', @user.facebook, class: "btn btn-default"%>
    <%= link_to 'Twitter', @user.twitter, class: "btn btn-default"%>
    <%= link_to 'LinkedIn', @user.linkedin, class: "btn btn-default"%>

  </div>
</div>








