<section id="home" class="home-section home-full-height bg-dark-30" data-background="<%= image_path("section-13.jpg") %>">

  <!-- Youtube player start-->
  <div class="video-player" data-property="{videoURL:'http://youtu.be/8xp4vEEUi0c', containment:'.home-section', startAt:0, mute:true, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:25}"></div>
  <!-- Youtube player end -->

  <!-- Youtube controls start-->
  <div class="video-controls-box">
    <div class="container">
      <div class="video-controls">
        <a id="video-volume" class="fa fa-volume-up" href="#">&nbsp;</a>
        <a id="video-play" class="fa fa-pause" href="#">&nbsp;</a>
      </div>
    </div>
  </div>
  <!-- Youtube controls end -->

  <div class="hs-caption">
    <div class="caption-content">
      <div class="hs-title-size-1 font-alt mb-30">

      </div>
      <div class="hs-title-size-4 font-alt mb-40">
        Share your knowledge
      </div>

      <div class = "row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <div id='home-search'>
            <%= form_tag("/search", method: "get") do %>
            <%= text_field_tag("query[text]", nil, placeholder: 'Search...', class: 'form-control') %>
            <%= select(:query, :refinement, [[:topic, :topic], [:zipcode, :zipcode], [:date, :date]]) %>
            <%= submit_tag("", class: "search-btn") %>
            <% end %>
          </div>
        </div>
        <div class="col-sm-3"></div>
      </div>
      <br></br>
      <a href="#about" class="section-scroll btn btn-border-w btn-round">Learn More</a>

    </div>
  </div>
</section >

<div>
  <% @courses.each do |course| %>
  <h3><%= course.topic %> </h3>
  <%= button_to('View Course', course_path(course.id), method: :get, class: "btn btn-default btn-sm") %>
  <% end %>
</div>

<%= link_to('See All Courses', courses_path) %>
