
<!-- Wrapper start -->
<div class="main">

  <!-- Header section start -->
  <section class="module-small bg-dark bg-dark-60" data-background="<%= image_path("section-4.jpg") %>">
    <div class="container">

      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h1 class="module-title font-alt">Edit Your Course</h1>
        </div>
      </div><!-- .row -->

    </div>
  </section>
  <!-- Header section end -->
 <section class="module">
    <div class="container">
        <div class="row">

  <div class="col-sm-6 col-sm-offset-1 mb-sm-40" style="margin-left: 30%">


   <%= form_for @course do |f| %>
   <form class="form">
    <div class="form-group">
     <%= f.text_field :topic, :class => "form-control", :placeholder => "Topic" %>
    </div>

    <div class="form-group">
     <%= f.text_area :description, :class => "form-control", :placeholder => "Description" %>
    </div>

    <div class="form-group">
     <%= f.date_field :date, :class => "form-control", :placeholder => "Date" %>
    </div>

    <div class="form-group">
     <%= f.time_field :time, :class => "form-control", :placeholder => "Time" %>
    </div>

    <div class="form-group">
     <%= f.number_field :duration, min: 0, step: 0.5, :class => "form-control", :placeholder => "Duration" %>
    </div>

    <div class="form-group">
     <%= f.text_field :street, :class => "form-control", :placeholder => "Street" %>
    </div>

    <div class="form-group">
     <%= f.text_field :city, :class => "form-control", :placeholder => "City" %>
    </div>

    <div class="form-group">
     <%= f.text_field :state, :class => "form-control", :placeholder => "State" %>
    </div>

    <div class="form-group">
     <%= f.text_field :zipcode, :class => "form-control", :placeholder => "Zipcode" %>
    </div>

    <div class="form-group">
     <%=f.text_field :tag_list, :class => "form-control", :placeholder => "tag list" %>
    </div>


    <div class="form-group">
     <button class="btn btn-block btn-round btn-b">Submit</button>
    </div>

    <%end%>

    <div class="form-group">
         <%= link_to "Back", :back %>
        </div>


   </div>


   </form>
