
<h1>Welcome, to <%= @course.topic %>!</h1>
<h2>Being taught by: <%= link_to @course.teacher.name, profile_path(@course.teacher.id)%> </h2>

<div class="container">


  <h1><%= @course.topic %>!</h1>
  <h2>Taught by: <%= @course.teacher.name %> </h2>

  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="text-center">
      <img align="left" class="avatar img-circle img-thumbnail" src="<%= @course.teacher.profile_picture %>" alt="Profile image example"/>
    </div>
  </div>

  <div class="col-xs-12 col-sm-8">
    <h2><%= @course.teacher.name %></h2>
    <p><strong>Course Description: </strong> <%= @course.description %> </p>
    <p><strong>Duration: </strong> <%= @course.duration %> </p>
    <p><strong>Date: </strong> <%= @course.date %> </p>
    <p><strong>Time: </strong> <%= @course.time %> </p>
    <p><strong>Location: </strong> <%= @course.street %>, <%= @course.city %>, <%= @course.state %> <%= @course.zipcode %> </p>
    <p><strong>Tags: </strong>
      <% @course.tag_list.each do |tags| %>
      <span class="label label-info tags"><%= link_to(tags, tag_search_path({:query => tags})) %></span>
      <% end %>
    </p>

    <%= link_to 'Enroll', enrollments_path(course_id: @course.id), method: :post, class: "btn btn-default btn-sm" %><br />

    <br /><%= link_to 'Return to Full Course List', courses_path %>

  </div>



</div>
